body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: aliceblue;
}
html ul li h1,h2,h3,h4,h5,h6  
{
    margin: 0;
    padding: 0;
}
#car-pooling-content
{
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.car-box1
{
    width: 94%;
    height: 350px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px gray;
    margin: 15px !important;
    margin-top: 5%;
    position: relative;

}
.thumbnail
{
    width: 100%;
    height:150px;
    background-color: gray;
    margin: 0px;
    padding: 0px;
}
.thumbnail span 
{
    font-size: 45px;
    color: white;
    margin-top: 8% !important;
    position: absolute;
    margin-left: 25%;
    padding: 15px;
}

.car-box1 p 
{
    padding: 10px;
}

#btn
{
    width: 85px;
    height: 35px;
    border: none;
    background-color: white;
    border: solid 2px;
    
}
