.card
{
    width: 30%;
    margin: auto;
    box-shadow: 5px 8px 20px 0px rgb(102, 102, 102);
   
}
.logo
{
    box-shadow: 5px 8px 20px 0px rgb(102, 102, 102);
  

}
.outer-logo
{
    border: solid 1px rgb(110, 110, 110);
    border-radius: 50px;
    padding: 20px 4px;
}
.inner-logo
{
    background-color: rgb(34, 196, 255);
   
   
}
input{
    border-radius: 40px !important;
    -webkit-box-shadow:  5px 8px 20px 0px rgb(164, 164, 164) inset !important;
    -moz-box-shadow:  5px 8px 20px 0px rgb(164, 164, 164)inset !important;
    box-shadow:  5px 8px 20px 0px rgb(164, 164, 164)inset !important;

}
button{
    width: 300px;
    background-color: rgb(34, 196, 255) !important;
    box-shadow: 5px 8px 20px 0px rgb(110, 109, 109);
    border-radius: 50px !important;

}
.card-footer>label
{
    color:rgb(34, 196, 255) ;
}