body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    /* background: -webkit-linear-gradient(lightgray,black);
    background: -moz-linear-gradient(lightgray,black);
    background: -o-linear-gradient(lightgray,black);
    background: linear-gradient(lightgray,black); */
/* 
    background: -webkit-linear-gradient(to left,lightgray,black);
    background: -moz-linear-gradient(to left,lightgray,black);
    background: -o-linear-gradient(to left,lightgray,black);
    background: linear-gradient(to right,lightgray,black); */

    
    background: -webkit-linear-gradient(to left,lightgray 50%,black 50%);
    background: -moz-linear-gradient(to left,lightgray 50%,black 50%);
    background: -o-linear-gradient(to left,lightgray 50%,black 50%);
    background: linear-gradient(to right,lightgray 50%,black 50%);
}
#content
{
    width: 70%;
    height: 350px;
    margin: auto;
    background-color: white;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.leftsidebar 
{
    width: 50%;
    height: 350px;
    /* background-color: antiquewhite; */
    background: url('../images/back.avif') no-repeat;
    background-size: cover;
    position: relative;
}

.text-overlay 
{
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    background-color: rgba(5,0,0,0.8);
    text-align: center;
    margin-top: 0%;
}
.text-move 
{
    width: 100%;
    height: 100%;
    margin-top: 20% !important;
}

.rightsidebar 
{
    width: 50%;
    height: 350px;
    background-color: aquamarine;
}
.map
{
    position: relative;
}
.youtube{
    
    width: 100%;
    height: auto;
    
    margin-top: -16%;
    margin-left:8% ;
  
    position: absolute;
}
