@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
  }
}




.Header
{
  background-image: url('./assets/images/banner-1.jpg'); 
  background-size: cover; /* Cover the entire header */ 
  background-position: center; /* Center the background image */ 
  height: 700px; /* Set the height of the header */ 
 
  text-align: center; /* Center the text horizontally */ 
  padding: 20px; /* Add padding inside the header */ 
}
.header-menu
{
  width: 80%;
}
.Navigation-Menu li {
  display: inline-block;
  margin: 7px;
  font-size: 13px;
  font-weight: 500;
}

.Navigation-Menu a {
  text-decoration: none;
  color: white;

}

.Apply-now button {
  font-size: 13px;
  font-weight: 500;

} 